#bo1{
    width:100%;
    height:480px;
    margin:0;
    background-color:white;
}
::placeholder
{
    font-size:30px;
}

#p10
{
    position:relative;
    top:-40px;
    font-weight:bold;
}
#t1
{
    position:relative;
    top:-50px;
    left:10px;
    width:250px;
}
tr{
    position:relative;
    left:20px;
}
.inp{
    width:350px;
    height:40px;
    font-size:20px;
    border-radius: 10px;
    background-color:rgb(180, 236, 173);
}
#n1
{
    display:block;
}
#s1
{
    position:relative;
    left:150px;
    width:200px;
    height:40px;
    font-size:20px;

}
th,td{
    width:70px;
    font-size:20px;
}

#d11
{
    background-color:rgb(251, 250, 250);
    position:relative;
    height:500px;
    top:-10px;
    border-top-style:none;
   border-top-width:2px;
    padding: 20px;
    box-shadow:
         inset 0 1em 3em rgba(8, 8, 8, 0.1),
               0 0  0 1px rgb(151, 145, 145),
               0.3em 0.3em 1em rgba(14, 11, 11, 0.3);
}
#d12
{
    
    position:relative;
    top:0px;
    left:230px;
    height:30px;
    width:900px;
}
#d13
{
    width:1000px;
    height:90%;
    background-color:white;
    position:relative;
    top:10px;
    left:140px;
    
    box-shadow:
         inset 0 1em 3em rgba(107, 11, 11, 0.1),
               0 0  0 1px rgb(20, 107, 53),
               0.1em 0.13em 2em rgba(8, 8, 8, 0.3);
}
#d1
{
    position:relative;
    top:-20px;
    left:0px;
    height:90px;
    width:100%;
}
#p3
{
    position:relative;
    left:120px;
    top:-20px;
    font-size:50px;
}
#p1
{
    
    width:60%;
    position:relative;
    top:45px;
    text-align:center;
    font-size:40px;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    text-shadow:0px 1px 3px black;
    float:left;
}
#p11
{
    font-size:20px;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    text-shadow:0px 1px 1px black;
}
#d2
{
    background-color:white;
    position:absolute;
    top:-10px;
    left:750px;
    width:200px;
    height:70px;
    font-size:20px;
}
#d6
{
    
    width:40%;
    height:70px;
    font-size:20px;
    float:right;
}
#d16
{
    
    width:50%;
    height:70px;
    font-size:20px;
    float:left;
}
#d17
{

    width:50%;
    height:70px;
    font-size:20px;
    float:right;
}
#b9
{
    background-color:green;
    color:blue;
}
#b2
{
    border-width: 1px;
    width:150px;
    height:40px;
    font-size:20px;

    position:relative;
    left:20px;
}
#d3
{
    background-color:white;
    position:absolute;
    top:80px;
    left:0px;
    width:60%;
    height:490px;
}

#p2
{
    font-size:50px;
    color:rgb(110, 110, 110);
}
#r1
{
    font-size:30px;
}
#d4
{
    background-color:white;
    position:absolute;
    top:80px;
    left:700px;
    width:48%;
    height:490px;
}
img{
    width:80%;
    height:480px;
}
#k7
{
    color:red;
    font-size:15px;
}
#d20
{
    background-color:red;
}
#k8
{
    color:red;
    font-size:15px;
}
#p9
{
    position:relative;
    left:130px;
    top:10px;
}
a:link
{
    color:black;
    text-decoration:none;
    font-weight: bold;
}
#t6
{
    border-collapse: collapse;
}
#sp
{
    width:100px;
    height:40px;
    text-align:center;
    position:relative;
    border-style:solid;
    font-size:20px;
    top:30px;
    left:800px;
    background-color:rgb(68, 166, 173);
}
.c1
{
    width:150px;
                text-align:center;
                
                padding:25px;
}
#row1
{
    background-color: green;
}
.row2
{
    background-color: blue;
}
#t10
{
    position:relative;
    left:-20px;
}
#b5
{
    position:relative;
    left:100px;
    width:90px;
    height:30px;
    position:relative;
    top:17px;
}